@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Yahoo Financial Web Scraper.</h2>
    <ul>
        <li>Please register, if you are a new user.</li>
        <li>If you have already registered, please log in to view the scraped data.</li>
    </ul>
</div>
